{% extends "base.html.j2" %}
{% block title %}
    {% if title %}
        {{ title }} - Microblog
    {% else %}
        {{ _('ezone.hk 即時科技生活新聞') }}
    {% endif %}
{% endblock %}
{% block addweb %}
    <form method="POST" action="{{ url_for('addweb') }}">
        {{ form.csrf_token }}
        <div>{{ form.author.label }} {{ form.author }}</div>
        <div>{{ form.link_p.label }} {{ form.link_p }}</div>
        <div>{{ form.title.label }} {{ form.title }}</div>
        <div>{{ form.middle_data.label }} {{ form.middle_data }}</div>
        <div>{{ form.attributes.label }} {{ form.attributes }}</div>
        <div>{{ form.submit }}</div>
    </form>
    <br>
    <div>
        <p>
            attributes: Tech = 科技焦点
            Net = 网络生活
            Games = 游戏动漫
            Test = 教学评测
            IT_T = IT Times
            Other = 其他
            Act = 活动奖赏
            All = 特集
            Pro = 编辑推介
            New = 最新内容
        </p>
    </div>
{% endblock %}
