{% extends 'bootstrap/base.html' %}
{% block title %}
    {% if title %}
        {{ title }} - Microblog
    {% else %}
        {{ _('Welcome to Microblog') }}
    {% endif %}
{% endblock %}
{% block navbar %}
    <style>.navbar-custom {
    background-color: #F39801;
}
    </style>
    <nav class="navbar navbar-custom">
        <nav class="container">
            <nav class="navbar-header">
                <button type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">
                    <img src="https://ezone.ulifestyle.com.hk/images/logo2.png" alt="Ezone" />
                </a>
            </nav>
            <nav class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right ">
                    <li>
                        <a class="navbar-brand" href="{{ url_for('index') }}">{{ _('科技焦點') }}</a>
                    </li>
                    <li class="dropdown">
                        <a href="#"
                           class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false"><span class="caret"></span></a>
                    </li>
                    <li>
                        <a class="navbar-brand" href="{{ url_for('index') }}">{{ _('網絡生活') }}</a>
                    </li>
                    <li class="dropdown">
                        <a href="#"
                           class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false"><span class="caret"></span></a>
                    </li>
                    <li>
                        <a class="navbar-brand" href="{{ url_for('index') }}">{{ _('遊戲動漫') }}</a>
                    </li>
                    <li class="dropdown">
                        <a href="#"
                           class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false"><span class="caret"></span></a>
                    </li>
                    <li>
                        <a class="navbar-brand" href="{{ url_for('index') }}">{{ _('教學評測') }}</a>
                    </li>
                    <li class="dropdown">
                        <a href="#"
                           class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false"><span class="caret"></span></a>
                    </li>
                    <li>
                        <a class="navbar-brand" href="{{ url_for('index') }}">{{ _('IT Times') }}</a>
                    </li>
                    <li class="dropdown">
                        <a href="#"
                           class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false"><span class="caret"></span></a>
                    </li>
                    <li>
                        <a class="navbar-brand" href="{{ url_for('index') }}">{{ _('活動獎賞') }}</a>
                    </li>
                    <li>
                        <a class="navbar-brand" href="{{ url_for('index') }}">{{ _('特集') }}</a>
                    </li>
                    <li>
                        <a class="navbar-brand" href="{{ url_for('index') }}">
                            <img src="https://ezone.ulifestyle.com.hk/images/icon-search.png"
                                 alt="search">
                        </a>
                    </li>
                </ul>
            </nav>
        </nav>
    </nav>
{% endblock %}
{% block content %}
    <nav class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <nav class="alert alert-info" role="alert">
                        {{ message }}
                    </nav>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </nav>
    <nav class="navbar navbar-custom">
        <div class="container">
            <div class="col-md-2 col-xs-6">
                <h3>
                    <a href="/srae001/科技焦點">科技焦點</a>
                </h3>
                <ul class="">
                    <li>
                        <a href="/srae002/iPhone">iPhone</a>
                    </li>
                    <li>
                        <a href="/srae005/5G流動">5G流動</a>
                    </li>
                    <li>
                        <a href="/srae003/電腦">電腦</a>
                    </li>
                    <li>
                        <a href="/srae006/數碼">數碼</a>
                    </li>
                    <li>
                        <a href="/srae004/智能家居">智能家居</a>
                    </li>
                    <li>
                        <a href="/srae007/科技汽車">科技汽車</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-6">
                <h3>
                    <a href="/srae008/網絡生活">網絡生活</a>
                </h3>
                <ul class="">
                    <li>
                        <a href="/srae009/網絡熱話">網絡熱話</a>
                    </li>
                    <li>
                        <a href="/srae011/生活情報">生活情報</a>
                    </li>
                    <li>
                        <a href="/srae010/筍買着數">筍買着數</a>
                    </li>
                    <li>
                        <a href="/srae012/旅遊筍料">旅遊筍料</a>
                    </li>
                    <li>
                        <a href="#">&nbsp;</a>
                    </li>
                    <li>
                        <a href="#">&nbsp;</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-6">
                <h3>
                    <a href="/srae013/遊戲動漫">遊戲動漫</a>
                </h3>
                <ul class="">
                    <li>
                        <a href="/srae014/手遊攻略">手遊攻略</a>
                    </li>
                    <li>
                        <a href="/srae015/電競遊戲">電競遊戲</a>
                    </li>
                    <li>
                        <a href="/srae016/動漫玩具">動漫玩具</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-6">
                <h3>
                    <a href="/srae017/教學評測">教學評測</a>
                </h3>
                <ul class="">
                    <li>
                        <a href="/srae018/應用秘技">應用秘技</a>
                    </li>
                    <li>
                        <a href="/srae019/新品測試">新品測試</a>
                    </li>
                    <li>
                        <a href="/srae020/Apps 情報">Apps 情報 </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-6">
                <h3>
                    <a href="/srae021/IT Times">IT Times </a>
                </h3>
                <ul class="">
                    <li>
                        <a href="/srae022/業界頭條">業界頭條</a>
                    </li>
                    <li>
                        <a href="/srae023/AI 策略">AI 策略</a>
                    </li>
                    <li>
                        <a href="/srae024/名家專欄">名家專欄 </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-6">
                <h3>
                    <a>其他</a>
                </h3>
                <ul class="">
                    <li>
                        <a href="https://www.ulifestyle.com.hk/aboutus">私隱政策</a>
                    </li>
                    <li>
                        <a href="https://www.ulifestyle.com.hk/aboutus">免責聲明</a>
                    </li>
                    <li>
                        <a href="/aboutus">聯絡/關於我們</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-12 col-xs-12 ezone-copyright text-center">
                <p>
                    © 2023 e-zone. All Rights Reserved.
                </p>
            </div>
        </div>
    </nav>
{% endblock %}
{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
{% endblock %}
