{% extends 'bootstrap/base.html' %}
{% block title %}{{ _('ezone.hk 即時科技生活新聞') }}{% endblock %}
{% block navbar %}
    <style>.navbar-custom {
    background-color: #F39801;
}

.navbar-bottom{
    background-color: #F39801;
    margin-top:30%
}
.top{
    background-color: #F39801;
    border: none;
}
.form_req {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-group {
  margin: 0 10px;
}

.inputline {
  border: none;
  text-align: center;
  width: 200px;
  height: 40px;
  font-size: 16px;
  border-radius: 20px;
  padding: 5px;
  box-sizing: border-box;
}

.ellipse-button {
  display: block;
  width: 120px;
  height: 40px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.ellipse-button:hover {
  background-color: #555;
}

    </style>
    <script>function showSearch() {
  var searchScreen = document.getElementById("search-screen");
  searchScreen.style.display = "block";
  document.body.style.backgroundColor = "rgba(0, 0, 0, 0.5)";
}

function hideSearch() {
  var searchScreen = document.getElementById("search-screen");
  searchScreen.style.display = "none";
  document.body.style.backgroundColor = "";
}
    </script>
    <style>
	#search-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
  background-color: none;
  padding: 20px;
  z-index: 1;
  display: none;
}
    </style>
    <nav class="navbar navbar-custom">
        <nav class="container">
            <nav class="navbar-header">
                <button type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">
                    <img src="https://ezone.ulifestyle.com.hk/images/logo2.png" alt="Ezone" />
                </a>
            </nav>
            <nav class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right ">
                    <li>
                        <a class="navbar-brand" href="/tbase/1">{{ _('科技焦點') }}</a>
                    </li>
                    <li class="dropdown">
                        <a href="#"
                           class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false"><span class="caret"></span></a>
                        <ul class="dropdown-menu navmenu-nav" role="menu">
                            <li>
                                <a href="/tbase/8">iPhone</a>
                            </li>
                            <li>
                                <a href="/tbase/9">5G流動</a>
                            </li>
                            <li>
                                <a href="/tbase/10">電腦</a>
                            </li>
                            <li>
                                <a href="/tbase/11">數碼</a>
                            </li>
                            <li>
                                <a href="/tbase/12">智能家居</a>
                            </li>
                            <li>
                                <a href="/tbase/13">科技汽車</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="navbar-brand" href="/tbase/2">{{ _('網絡生活') }}</a>
                    </li>
                    <li class="dropdown open">
                        <a href="#"
                           class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false"><span class="caret"></span></a>
                        <ul class="dropdown-menu navmenu-nav" role="menu">
                            <li>
                                <a href="/tbase/14">網絡熱話</a>
                            </li>
                            <li>
                                <a href="/tbase/15">生活情報</a>
                            </li>
                            <li>
                                <a href="/tbase/16">筍買着數</a>
                            </li>
                            <li>
                                <a href="/tbase/17">旅遊筍料</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="navbar-brand" href="/tbase/3">{{ _('遊戲動漫') }}</a>
                    </li>
                    <li class="dropdown">
                        <a href="#"
                           class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false"><span class="caret"></span></a>
                        <ul class="dropdown-menu navmenu-nav" role="menu">
                            <li>
                                <a href="/tbase/18">手遊攻略</a>
                            </li>
                            <li>
                                <a href="/tbase/19">電競遊戲</a>
                            </li>
                            <li>
                                <a href="/tbase/20">動漫玩具</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="navbar-brand" href="/tbase/4">{{ _('教學評測') }}</a>
                    </li>
                    <li class="dropdown">
                        <a href="#"
                           class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false"><span class="caret"></span></a>
                        <ul class="dropdown-menu navmenu-nav" role="menu">
                            <li>
                                <a href="/tbase/21">應用秘技</a>
                            </li>
                            <li>
                                <a href="/tbase/22">新品測試</a>
                            </li>
                            <li>
                                <a href="/tbase/23">Apps 情報 </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="navbar-brand" href="/tbase/5">{{ _('IT Times') }}</a>
                    </li>
                    <li class="dropdown">
                        <a href="#"
                           class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false"><span class="caret"></span></a>
                        <ul class="dropdown-menu navmenu-nav" role="menu">
                            <li>
                                <a href="/tbase/24">業界頭條</a>
                            </li>
                            <li>
                                <a href="/tbase/25">AI 策略</a>
                            </li>
                            <li>
                                <a href="/tbase/26">名家專欄 </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="navbar-brand" href="/tbase/6">{{ _('活動獎賞') }}</a>
                    </li>
                    <li>
                        <a class="navbar-brand" href="/tbase/7">{{ _('特集') }}</a>
                    </li>
                    <li>
                        <button onclick="showSearch()" class="top">
                            <img src="https://ezone.ulifestyle.com.hk/images/icon-search.png"
                                 alt="search"
                                 class="top"/>
                        </button>
                    </li>
                </ul>
            </nav>
        </nav>
    </nav>
{% endblock %}
{% block content %}
    <nav class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <nav class="alert alert-info" role="alert">
                        {{ message }}
                    </nav>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {# application content needs to be provided in the app_content block #}
        <nav class="col-xl-12">
            <div id="search-screen">
                <form method="POST" action="/search" class="form_req">
                    {% set default_search = "default_value" %}
                    <input type="text"
                           name="search"
                           id="search"
                           placeholder="请输入关键词"
                           class="inputline"
                           value="{{ default_search }}">
                    <button class="ellipse-button" type="submit">
                        Search
                    </button>
                </form>
            </div>
            {% block app_content %}{% endblock %}
            {% block data %}{% endblock %}
            {% block addweb %}{% endblock %}
            {% block addweb_r %}{% endblock %}
            {% block addweb_n %}{% endblock %}
            {% block addweb_pro %}{% endblock %}
            {% block addweb_w %}{% endblock %}
            {% block search %}{% endblock %}
            {% block testing %}{% endblock %}
        </nav>
    </nav>
    {# 底部 #}
    <nav class="navbar navbar-bottom">
        <div class="container">
            <div class="col-md-2 col-xs-6">
                <h3>
                    <a href="/tbase/1">科技焦點</a>
                </h3>
                <ul style="list-style-type: none">
                    <li>
                        <a href="/tbase/8">iPhone</a>
                    </li>
                    <li>
                        <a href="/tbase/9">5G流動</a>
                    </li>
                    <li>
                        <a href="/tbase/10">電腦</a>
                    </li>
                    <li>
                        <a href="/tbase/11">數碼</a>
                    </li>
                    <li>
                        <a href="/tbase/12">智能家居</a>
                    </li>
                    <li>
                        <a href="/tbase/13">科技汽車</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-6">
                <h3>
                    <a href="/tbase/2">網絡生活</a>
                </h3>
                <ul style="list-style-type: none">
                    <li>
                        <a href="/tbase/14">網絡熱話</a>
                    </li>
                    <li>
                        <a href="/tbase/15">生活情報</a>
                    </li>
                    <li>
                        <a href="/tbase/16">筍買着數</a>
                    </li>
                    <li>
                        <a href="/tbase/17">旅遊筍料</a>
                    </li>
                    <li>
                        <a href="#">&nbsp;</a>
                    </li>
                    <li>
                        <a href="#">&nbsp;</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-6">
                <h3>
                    <a href="/tbase/3">遊戲動漫</a>
                </h3>
                <ul style="list-style-type: none">
                    <li>
                        <a href="/tbase/18">手遊攻略</a>
                    </li>
                    <li>
                        <a href="/tbase/19">電競遊戲</a>
                    </li>
                    <li>
                        <a href="/tbase/20">動漫玩具</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-6">
                <h3>
                    <a href="/tbase/4">教學評測</a>
                </h3>
                <ul style="list-style-type: none">
                    <li>
                        <a href="/tbase/21">應用秘技</a>
                    </li>
                    <li>
                        <a href="/tbase/22">新品測試</a>
                    </li>
                    <li>
                        <a href="/tbase/23">Apps 情報 </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-6">
                <h3>
                    <a href="/tbase/5">IT Times </a>
                </h3>
                <ul class="">
                    <li>
                        <a href="/tbase/24">業界頭條</a>
                    </li>
                    <li>
                        <a href="/tbase/25">AI 策略</a>
                    </li>
                    <li>
                        <a href="/tbase/26">名家專欄 </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-6">
                <h3>
                    <a>其他</a>
                </h3>
                <ul style="list-style-type: none">
                    <li>
                        <a href="/tbase/27">私隱政策</a>
                    </li>
                    <li>
                        <a href="/tbase/28">免責聲明</a>
                    </li>
                    <li>
                        <a href="/tbase/29">聯絡/關於我們</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-12 col-xs-12 ezone-copyright text-center">
                <p>
                    © 2023 e-zone. All Rights Reserved.
                </p>
            </div>
        </div>
    </nav>
{% endblock %}
{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
{% endblock %}
{% block popup_content %}
    <div id="my-popup">
        <h2>
            Pop-up title
        </h2>
        <p>
            Pop-up content goes here.
        </p>
    </div>
{% endblock %}
