{% extends 'bootstrap/base.html' %}
{% block title %}
    {% if title %}
        ezone.hk 即時科技生活新聞
    {% else %}
        {{ _('Welcome to Microblog') }}
    {% endif %}
{% endblock %}
{% block navbar %}
    <style>.navbar-custom {
    background-color: #F39801;
}
    </style>
    <nav class="navbar navbar-custom">
        <nav class="container">
            <nav class="navbar-header">
                <button type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">
                    <img src="https://ezone.ulifestyle.com.hk/images/logo2.png" alt="Ezone" />
                </a>
            </nav>
            <nav class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right ">
                    <li>
                        <a class="navbar-brand" href="{{ url_for('index') }}">{{ _('科技焦點') }}</a>
                    </li>
                    <li class="dropdown">
                        <a href="#"
                           class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false"><span class="caret"></span></a>
                    </li>
                    <li>
                        <a class="navbar-brand" href="{{ url_for('index') }}">{{ _('網絡生活') }}</a>
                    </li>
                    <li class="dropdown">
                        <a href="#"
                           class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false"><span class="caret"></span></a>
                    </li>
                    <li>
                        <a class="navbar-brand" href="{{ url_for('index') }}">{{ _('遊戲動漫') }}</a>
                    </li>
                    <li class="dropdown">
                        <a href="#"
                           class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false"><span class="caret"></span></a>
                    </li>
                    <li>
                        <a class="navbar-brand" href="{{ url_for('index') }}">{{ _('教學評測') }}</a>
                    </li>
                    <li class="dropdown">
                        <a href="#"
                           class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false"><span class="caret"></span></a>
                    </li>
                    <li>
                        <a class="navbar-brand" href="{{ url_for('index') }}">{{ _('IT Times') }}</a>
                    </li>
                    <li class="dropdown">
                        <a href="#"
                           class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false"><span class="caret"></span></a>
                    </li>
                    <li>
                        <a class="navbar-brand" href="{{ url_for('index') }}">{{ _('活動獎賞') }}</a>
                    </li>
                    <li>
                        <a class="navbar-brand" href="{{ url_for('index') }}">{{ _('特集') }}</a>
                    </li>
                    <li>
                        <a class="navbar-brand" href="{{ url_for('index') }}">
                            <img src="https://ezone.ulifestyle.com.hk/images/icon-search.png"
                                 alt="search">
                        </a>
                    </li>
                </ul>
            </nav>
        </nav>
    </nav>
{% endblock %}
{% block content %}
    <nav class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <nav class="alert alert-info" role="alert">
                        {{ message }}
                    </nav>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </nav>
{% endblock %}
{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
{% endblock %}
