{% extends "base.html.j2" %}
{% block title %}{{ _('ezone.hk 即時科技生活新聞') }}{% endblock %}
{% block search %}
    <style>
.postcard2 {
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-family: Arial, sans-serif;
  transition: transform 0.2s ease-in-out;
  text-align: center;
}

.postcard-body2 {
  padding: 20px;
  width: 100%;
}
    </style>
    {% if result is not none %}
        {% for row in result %}
            <a href="{{ row.link_web }}">
                <div class="postcard2">
                    <button class="postcard-body2">
                        {{ row.title }}
                        {{ row.author }}
                    </button>
                </div>
            </a>
            <br>
        {% endfor %}
    {% else %}
    {% endif %}
{% endblock %}
